*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;

  height: 40px;
}

#navbar ul li a {
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  color: black;
  display: block;
  position: relative;
}

#navbar ul li a::after{
  content: "";
  display: block;
  height: 100%;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 2px black solid;
  transition: all 1s ease-in-out;

}
#navbar ul li a:hover::after{
  width: 100%;
}

#navbar ul li a::before{
  content: "";
  display: block;
  height: 100%;
  width: 0%;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 2px black solid;
  transition: all 1s ease-in-out;

}
#navbar ul li a:hover::before{
  width: 100%;
}

