* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
  width: 24%;
  padding: 10px;
  color: white;
  background-color: #333;
  margin: 0.5%;

  float: left;
}

/* Mobile */
@media (max-width: 500px){
  .box {
    float: none;
    width: auto;
    margin: 1%;
  }
}