*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lemonchiffon;
}

p {
  padding: 5px 10px;
}

.flexbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box{
  width: 200px;
  height: 150px;
}

#box1{
  background-color: green;

}
#box2{
  background-color: dodgerblue;
}
#box3{
  background-color: red;
}
