body{
  color: white;
}

.item {
  padding: 3rem;
  border-radius: 25px;
}

.grid {
  display: grid;
  gap: 1rem;
  /* DEFAULT (DESKTOP LAYOUT) */
  grid-template-areas:
    "header header header header"
    "sidebar content content sidebar2"
    "footer footer footer footer";
}

.item:nth-child(1) {
  grid-area: header;
  background-color: orangered;
}

.item:nth-child(2) {
  grid-area: sidebar;
  background-color: deepskyblue;
}

.item:nth-child(3) {
  grid-area: content;
  background-color: green;
}

.item:nth-child(4) {
  grid-area: sidebar2;
  background-color: darkorchid;
}

.item:nth-child(5) {
  grid-area: footer;
  background-color: goldenrod;
}

/* Mobile */
@media(max-width:500px) {
  .grid {
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "sidebar2"
      "footer"
    ;
  }
}

/* Tablet */
@media(min-width:501px) and (max-width:800px) {
  .grid {
    grid-template-areas: 
    "header header header header"
    "sidebar content content content"
    "sidebar2 sidebar2 sidebar2 sidebar2"
    "footer footer footer footer"
    ;
  }
}