#box{
  width: 20rem;
  height: 20rem;
  background-color: #333;
  position: relative;
}

#box::after{
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  background-color: coral;

  position: absolute;
  right: 0;
}

#box:hover{
  background-color: aquamarine;
}