*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 30px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#movies-list{
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;

  gap: 10px;  
}

.movie-card {
  height: 600px;
  width: 300px;

  border: 2px solid #333;
  border-radius: 25px;
  
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  flex-direction: column;

  overflow: hidden;

  color: white;

  padding-bottom: 10px;

  position: relative;
}

.movieImage{
  width: 300px;
}

.extra-movie-details{
  font-size: 0.8rem;
}

.movie-card button {
  position: absolute;
  top: 5px;
  right: 5px;

  width: 30px;
  height: 30px;

  border-radius: 50px;

  background-color: #22222244;
  color: white;
  border: solid white 2px;
  font-weight: bold;

  scale: 0.8;
}

.movie-card button:hover{
  cursor: pointer;
}